@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');
 :root {
    --bg-color: #4CAF50;
    --primary-color: #ff9800;
    --secundary-color: #f5f5f5;
    --text-color: #333;
    --font: 'Bai Jamjuree;

 }

 body {

    
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: var(--font);
height: 100vh;
    margin: 0;
    
 }
 header {
    background-color: var(--secundary-color);
    padding: 10px;
    text-align: center;
 }